<div id="features-wrapper">
  <div class="container">
    <div class="row">
      <div class="4u 12u(medium)">

        <!-- Box -->
        <section class="box feature">
          <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
          <div class="inner">
            <header>
              <h2>Highlight</h2>
              <p>Information about highlight</p>
            </header>
          </div>
        </section>

      </div>
      <div class="4u 12u(medium)">

        <!-- Box -->
        <section class="box feature">
          <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
          <div class="inner">
            <header>
              <h2>Highlight</h2>
              <p>Information about highlight</p>
            </header>
          </div>
        </section>

      </div>
      <div class="4u 12u(medium)">

        <!-- Box -->
        <section class="box feature">
          <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
          <div class="inner">
            <header>
              <h2>Highlight</h2>
              <p>Information about highlight</p>
            </header>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
