<div id="header-wrapper">
  <header id="header" class="container">

    <!-- Logo -->
      <div id="logo">
        <h2><a href="index.html">sociotech.net</a></h2>
      </div>

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li class="current"><a href="/">About</a></li>
          <li>
            <a href="/events">Events</a> <!-- @TODO put eventList queries here -->
            <ul>
              <li>
                <a href="#">Summer Research Institute</a>
                <ul>
                  <li><a href="#">Summer 1</a></li>
                  <li><a href="#">Summer 2</a></li>
                  <li><a href="#">Summer 3</a></li>
                </ul>
              </li>
              <li><a href="#">This event here</a></li>
              <li><a href="#">This other event</a></li>
            </ul>
          </li>
          <li><a href="/library">Research Library</a></li>
          <li><a href="/getin">Get Involved</a></li>
        </ul>
      </nav>

  </header>
</div>
