<div id="header-wrapper" class="wrapper">
  <div id="header">

    <!-- Logo -->
    <!-- @TODO Fix header and main nav color and font so it can accomodate any image as background -->
    <div id="logo">
      <h1><a href="index.html"><%= siteTitle %></a></h1>
      <p>
        <%= siteTagline %>
      </p>
    </div>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#">Our Events</a>
          <ul>
            <li>
              <a href="#">Summer Research Institute ></a>
              <ul>
                <% for (var i = 0; i < csstEvents.length; i++) { %>
                  <% var item = csstEvents[i]; %>
                    <li>
                      <a href="http://community.sociotech.net/t/<%= item.slug %>">
                        <%= item.title %>
                      </a>
                    </li>
                    <% } %>
              </ul>
            </li>
            <li>
              <a href="#">Workshops ></a>
              <ul>
                <li><a href="#">Magna phasellus</a></li>
                <li><a href="#">Etiam nisl</a></li>
                <li><a href="#">Sed feugiat</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="/jobs">Jobs Listings</a>
          <ul>
            <li>
              <a href="#">Recent Listings</a>
              <a href="#">Post a Job</a>
              <a href="#">Mentoring and Advice</a>
            </li>
          </ul>
        </li>
        <li><a href="/library">Recommended Readings</a></li>

      </ul>

    </nav>


  </div>
</div>
